<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Bleeper is a Twitter clone that adds random $%@#-ing bleeps to user posts.  Post your favorite thoughts and bleeper will auto-magically make them even $%@#-ing better.
</p>

